.Home{
    /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
    /*background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);*/

    height: 100vh;
    overflow: hidden;

}

.welcome{
    font-size: 40px;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    /*margin: 40px auto 57px;*/
    /*background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);*/
}

.sub{
    font-size: 20px;
    margin-top: 30px;
}

.text_contain{
    width: 40%;
    margin: 40px;
}

.imageContain{
    width: 50%;
    display: block;
}

.imageContain img{
    max-width: 100%;
    background: transparent;
    margin-top: 40px;
}

