.Nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 95%;
    margin: 0px auto;
    border-bottom: 2px solid #eee;
}



.Nav a:first-of-type{
    margin-right: 30px;
}

.Nav a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
    letter-spacing: .34px;
    font-family: 'Montserrat', sans-serif;
}

.Nav ul{
    /*display: flex;*/
    /*justify-content: space-around;*/
    width: 30%;
}

.Nav h1{
    width: 30%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: .84px;
}