.deleteAccount{
    width: 80%;
    margin: 100px auto 0px;
}

.deleteAccount div{
    margin-top: 30px;
}

.deleteAccount button{
    padding: 10px 5px;
    width: 10%;
    border: none;
    background-color: tomato;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.deleteAccount button:first-child{
    margin-right: 20px;
    background: green;

}